*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  width: 100vw;
  font-size: 14px; }

body {
  box-sizing: border-box; }

.content-container {
  margin: auto;
  max-width: 1200px;
  text-align: center; }

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.icon, .icon--middle {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor; }
  .icon--middle {
    vertical-align: middle; }

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #333; }

.header__title {
  font-size: 150px; }

.header__title-info {
  font-size: 72px; }

.header {
  height: 100vh;
  position: relative;
  background-image: linear-gradient(to bottom, rgba(243, 129, 129, 0.9), rgba(252, 227, 138, 0.9)), url(../../assets/images/powidoki2.jpg);
  background-size: cover;
  background-position: top;
  color: #fff; }
  .header__title-box {
    margin: 120px auto;
    max-width: 900px; }
    .header__title-box p {
      font-size: 72px;
      font-family: "Kaushan Script", serif; }
    .header__title-box h1,
    .header__title-box h2 {
      font-size: 150px;
      text-transform: uppercase; }
  .header__title-info {
    margin-bottom: 32px; }
  .header__title {
    line-height: 140px; }
  .header__button {
    width: 160px;
    margin: auto;
    padding: 10px 0;
    border: 3px solid #fff; }
  .header__button-link {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-weight: bold; }
  @media screen and (min-width: 768px) {
    .header {
      height: 1000px; } }

.page__header {
  margin: 40px auto; }
  .page__header p {
    font-size: 24px;
    font-family: "Kaushan Script", serif; }
  .page__header h1,
  .page__header h2 {
    font-size: 30px;
    text-transform: uppercase; }

.page__title-info {
  margin-bottom: 12px; }

.page__header-line {
  width: 60px;
  height: 3px;
  margin: 30px auto;
  border: none;
  background-color: #f38181; }

.page__description {
  color: #999; }

.page__content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 80px;
  padding: 32px; }

@media screen and (min-width: 768px) {
  .page__content {
    grid-template-columns: repeat(2, 1fr); } }

@media screen and (min-width: 1024px) {
  .page__content {
    grid-template-columns: repeat(3, 1fr); } }

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
  line-height: 30px; }
  .nav__logo {
    font-size: 30px;
    font-weight: bold; }
  .nav__list-box {
    gap: 48px; }
  .nav__list {
    position: relative;
    gap: 56px;
    list-style: none; }
  .nav__list-item::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-bottom: 3px solid #fce38a; }
  .nav__list-link {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    position: relative;
    text-transform: uppercase; }
  .nav__icon-list {
    list-style: none;
    gap: 48px; }
  .nav__icon-link {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    vertical-align: middle; }
    .nav__icon-link:active {
      color: #fce38a; }

.service {
  display: grid;
  grid-template-columns: 36px 1fr;
  gap: 40px;
  text-align: justify; }
  .service__title {
    margin-bottom: 16px;
    text-transform: uppercase; }
  .service__description {
    font-size: 15px;
    font-style: "Roboto", sans-serif;
    color: #999; }
  .service__icon-box {
    font-size: 32px;
    color: #95e1d3; }
