.header {
  height: 100vh;
  max-height: 800px;
  position: relative;
  background-image: linear-gradient(
      to bottom,
      rgba($color-gradient-primary, 0.9),
      rgba($color-gradient-secondary, 0.9)
    ),
    url(../../assets/images/eagle.jpg);

  background-size: cover;
  background-position: top;
  color: $color-white;

  &__title-box {
    @include title-box(42px, 66px, 86px);
    max-width: 400px;

    @media screen and (min-width: 768px) {
      @include title-box(56px, 120px, 120px);
      max-width: 700px;
    }
    @media screen and (min-width: 1024px) {
      @include title-box(72px, 150px, 120px);
      max-width: 900px;
    }
  }

  &__title-info {
    margin-bottom: 32px;
  }

  &__title {
    @media screen and (min-width: 768px) {
      line-height: 140px;
    }
  }

  &__button {
    width: 160px;
    margin: auto;
    padding: 10px 0;
    border: 3px solid $color-white;
  }

  &__button-link {
    @include link($color-white);
    font-weight: bold;
  }

  @media screen and (min-width: 768px) {
    height: 1000px;
    max-height: none;
  }
}
