.page {
  &__header {
    @include title-box(24px, 30px, 40px);
  }

  &__title-info {
    margin-bottom: 16px;
  }

  &__header-line {
    width: 60px;
    height: 3px;
    margin: 30px auto;
    border: none;
    background-color: $color-gradient-primary;
  }

  &__description {
    margin: 50px 30px 40px;
    font-size: 15px;
    line-height: 24px;
    font-family: $font-family-secondary;
    color: $color-grey-light;
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 80px;
    margin: 0 20px;
    padding: 32px 0;

    &--team {
      @extend .page__content;
      gap: 24px;
    }
  }

  @media screen and (min-width: 768px) {
    &__content {
      grid-template-columns: repeat(2, 1fr);

      &--team {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }

  @media screen and (min-width: 1024px) {
    &__content {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
