.service {
  display: grid;
  grid-template-columns: 36px 1fr;
  gap: 40px;
  text-align: start;

  &__title {
    margin-bottom: 16px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
  }

  &__description {
    font-size: 15px;
    line-height: 24px;
    font-family: $font-family-secondary;
    color: $color-grey-light;
  }

  &__icon-box {
    font-size: 32px;
    color: $color-green;
  }
}
