.social-media {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $color-gradient-secondary;
  opacity: 0;
  transition: all 0.25s ease-out;

  &__list {
    display: flex;
  }

  &__list-item {
    &:not(:last-child) {
      border-right: 1px solid $color-gradient-primary;
    }
  }

  &__link {
    @include link($color-gradient-primary);
    display: flex;

    &:hover {
      background-color: $color-gradient-primary;
      color: $color-white;
    }

    width: 58px;
    height: 58px;
    font-size: 26px;

    @media screen and (min-width: 768px) {
      width: 48px;
      height: 48px;
      font-size: 20px;
    }

    @media screen and (min-width: 1024px) {
      width: 58px;
      height: 58px;
      font-size: 26px;
    }
  }
}
