*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  width: 100%;
  font-size: 14px;
}

body {
  min-width: 380px;
  box-sizing: border-box;
}

.content-container {
  margin: auto;
  max-width: 1240px;
  text-align: center;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  margin: auto;

  &--middle {
    @extend .icon;
    vertical-align: middle;
  }
}

.hidden {
  display: none;
}
