// COLOR VARIABLES
$color-gradient-primary: #f38181;
$color-gradient-secondary: #fce38a;
$color-grey-dark: #333;
$color-grey-light: #999;
$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 14px;

//FONT-FAMILY

$font-family-primary: "Montserrat", sans-serif;
$font-family-secondary: "Roboto", sans-serif;
$font-family-artist: "Kaushan Script", serif;
